body{
    background-image: url("../image/bananas.png")
}




#nav{
    background-color: #ffffff;
    border-bottom:  solid 0.2px grey;
    padding-left: 10px;
    padding-right: 80px;
    width: 100%;
    height: 100px;
    margin:0px;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.bar ul{
    padding:10px;
    list-style: none;
    position: absolute;
    padding-left: 300px;
    padding-top: 40px;
    width: 100%;
    
}


.bar li{
    display: inline;
    text-align: center;
    
}

.bar a{
    color:#777777;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
   
    }

#nav header{
    color:white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: #4aaaa5;
    width: 200px;
    height: 70px;
    float: left;
    padding-top:  30px;
    margin-left:50px;
    top: 0px;
    position: absolute;

}   

.content{
    clear: both;
    overflow: auto;
    padding: 70px 60px;
    background-color: #ffffff;
    margin: 20px 80px;
    
}

.content h{
    font-size: 40px;
    font-weight:bold;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.content img{
    border-radius: 8px;
    
    
}

.family{
    margin: center;
}

.fiona{
    background-image: url(../image/fiona.jpg);
    background-size: contain;
    text-align: center;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    color: white;

}



/* .content p{
    font-size: 18px;
    margin:  20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    text-align: justify; */


footer{
    width: 960px;
    background-color:rgba(42, 55, 71, 0.808);
    border-top: 5px solid #f3f722;
    text-align: center;
    height: 100px;
    width: 100%;
    margin:0px;
    padding-top: 10px;
    overflow: hidden;
}
